:root {
  --main-color: #f44336;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Setting box */
.settings-box {
  position: fixed;
  top: 0;
  left: -150px;
  z-index: 4;
  background-color: darkgray;
  opacity: 0.9;
  width: 150px;
  min-height: 100vh;
  transition: 0.1s;
}
.settings-box.open {
  left: 0;
}
.settings-box .gear {
  position: absolute;
  top: 55px;
  right: -36px;
  background-color: darkgrey;

  cursor: pointer;
}
.settings-box .gear i {
  padding: 7px 10px;
}

.settings-box .setting-contain .option-box {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.settings-box .setting-contain .option-box h4 {
  color: #fff;
  position: absolute;
  /* top: 20px; */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.settings-box .setting-contain .option-boxs {
  text-align: center;
}
.settings-box .setting-contain .option-boxs h4 {
  font-size: 14px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  color: #fff;
  margin: 10px auto;
}
.settings-box .option-boxs .yes,
.settings-box .option-boxs .no {
  width: 50px;
  padding: 3px 20px;
  margin-top: 5px;
  font-size: 13px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.3;
}
.settings-box .option-boxs span.active {
  opacity: 1;
  border: 2px solid #fff;
}
.settings-box .setting-contain .option-box .colors-list {
  list-style: none;
  padding: 0;
}

.settings-box .setting-contain .option-box .colors-list li {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  left: 45px;
  top: 15px;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 0.5;
}
.settings-box .setting-contain .option-box .colors-list li:first-child {
  background-color: var(--main-color);
}
.settings-box .setting-contain .option-box .colors-list li:nth-child(2) {
  background-color: #cddc39;
}
.settings-box .setting-contain .option-box .colors-list li:nth-child(3) {
  background-color: #3f51b5;
}
.settings-box .setting-contain .option-box .colors-list li:nth-child(4) {
  background-color: #ff9800;
}
.settings-box .setting-contain .option-box .colors-list li:nth-child(5) {
  background-color: #009688;
}
.settings-box .setting-contain .option-box .colors-list li:nth-child(6) {
  background-color: #795548;
}

.settings-box .setting-contain .option-box .colors-list li.active {
  opacity: 1;
}
.settings-box .setting-contain .background-Img {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
.settings-box .setting-contain .background-Img > img {
  width: 50px;
  height: 50px;
  margin-bottom: 9px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  opacity: 0.1;
  cursor: pointer;
}
.settings-box .setting-contain .background-Img > img.active {
  opacity: 1;
}
.settings-box .setting-contain .reset{
  border: none;
  display: block;
  margin: 20px auto;
  padding: 5px 40px;
  color: #FFF;
  cursor: pointer;
  background-color: #607d8b;
  letter-spacing: 2px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
/* End Setting box */
/* Start navigation bullets */
.nav-bullets{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1020;
}
.nav-bullets .bullets{
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  margin: 25px auto;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullets .tooltip{
  position: absolute;
  top: -3px;
  right: 35px;
  width: 100px;
  background-color: var(--main-color);
  color: #FFF;
  padding: 4px 10px;
  font-weight: 200;
  text-align: center;
  border-radius: 3px;
  cursor: default;
  pointer-events: none;
  display: none;
  letter-spacing: 1px;
  font-size: 15px;
}
.nav-bullets .bullets .tooltip::before{
  content: '';
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -16px;
  border-width: 8px;
  height: 0;
  width: 0;
  position: absolute;
  top: 5px;
}
.nav-bullets .bullets:hover .tooltip{
  display: block;
}

/* End Navigation bullets */
.landing-page {
  min-height: 100vh;
  background-image: url("../Images/01.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgb(0, 0, 0, 0.41);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 200;
}
.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.landing-page .header-area .logo {
  width: 350px;
  padding: 20px;
  font-weight: bold;
}
.header-area .links-container{
  width: 100%;
  text-align: end;
}
.header-area .links {
  list-style: none;
  width: 100%;
  padding: 0px;
}
.header-area .links li {
  display: inline-block;
  padding: 2px;
  margin-left: 10px;
}
.header-area .links li a {
  text-decoration: none;
  color: #fff;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
  transition: 0.3s;
}
.header-area .toggle-menu{
  background: none;
  border: none;
  outline: none;
  width: 30px;
  cursor: pointer;
  margin-top: 17px;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active::before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
  top: 10px;
  left: 5px;
}
.header-area .toggle-menu span{
  display: block;
  width: 100%;
  background-color: #FFF;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 2px;
}
.introduction {
  position: absolute;
  z-index: 3;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}
.introduction h1 {
  font-size: 34px;
}
.introduction h1 span {
  color: var(--main-color);
}
.introduction p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 575px) {
  .introduction p {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #FFF;
    padding: 20px;
    left: 0;
    top: 40px;
    text-align: center;
  }
   .header-area .links.open li a{
    color: var(--main-color);
    font-weight: bold;
    }
    .header-area .links.open li {
          margin-left: 25px;

    }
  .header-area .toggle-menu{
    display: inline-block;
  }
}
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
}
.about-us .info-box {
  flex-basis: 35%;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}

.about-us .img-box {
  text-align: center;
  flex-basis: 60%;
}

.about-us .img-box img {
  width: 250px;
  margin-top: -10px;
}
@media (max-width: 765px) {
  .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Start Skills section */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  display: flex;
}
.skills .container{
  width: 97%;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
  text-align: center;
}
.skills .skills-box {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
}

.skills .skills-box .skill-progress {
  height: 25px;
  width: 100%;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
}
.skills .skills-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 25px;
}
.skills .skills-box .skill-progress span {
  width: 0;
  height: 100%;
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: all .5s;
}
@media (max-width: 765px) {
.skills .skills-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills-box .skill-name{
  margin-bottom: 20px;
}
}
/* End Skills section */

/* Start Gallery */
.gallery{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.gallery h2{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  margin:  0 0 50px;
}
.gallery .img-box{
  text-align: center;
}
.gallery .img-box img{
  position: relative;
  width: 200px;
  padding: 3px;
  border: 2px solid #F6F6F6;
  cursor: pointer;
}
.overlay-pop{
  position: fixed;
  background-color: #000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: .6;
}
.pop-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: 2px solid #CCC;
  padding: 10px;
  z-index: 1004;
}
.pop-box h2{
  color: var(--main-color);
  text-align: center;
  margin:  -8px 0px 17px 0;
}
.pop-box img{
  max-width: 100%;
}
.close-button{
  cursor: pointer;
  color: #ffffff;
  background-color: #840b02;
  opacity: 0.9;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 14px;
  line-height: 30px;
}
/* End Gallery */


/* start Timeline */
.timeline{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content{
  position: relative;
  overflow: hidden;

}
.timeline-content::before{
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  color: #FFF;
  position: relative;
  border-radius: 4px;
  padding: 3px 6px;
  text-align: center;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
  width: calc(50% - 25px);
  margin-bottom: 50px;
  position: relative;
}
.timeline .timeline-content .left{
  float: left;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--main-color);
  background-color: #EEE;
  border-radius: 50%;
}
.timeline .timeline-content .left::before{
  right: -35px;
}
.timeline .timeline-content .right::before{
  left: -35px;
}
.timeline .timeline-content .right{
  float: right;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #FFF;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
  content: '';
  border-style: solid;
  border-width: 11px;
  height: 0;
  width: 0;
  position: absolute;
  top: 5px;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #FFF;
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent #FFF transparent transparent;
  left: -20px;
}
.timeline .timeline-content .content h3{
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix{
  clear: both;
}
@media (max-width: 765px) {
  .timeline .container{
    padding-left: 25px;
    padding-right: 25px;
  }
  .timeline .timeline-content .left,
  .timeline .timeline-content .right{
    width: 100%;
    display: block;
  }
  .timeline .timeline-content .left::before,
  .timeline .timeline-content .right::before{
  display: none;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
  display: none;
}
}
/* End Timeline */

/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  margin:  0 0 50px;
}
.features .feat-box{
  width: calc(100% / 3);
  float: left;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 991px) {
  .features .feat-box{
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box{
    width: calc(100% / 1);
  }
}
.features .feat-box img{
  width: 200px;
  height:  200px;
  border-radius: 50%;
}
.features .feat-box h4{
  font-weight: bold;
  font-size: 22px;
  color: var(--main-color);
}
.features .feat-box p{
  line-height: 1.6;
  color: #666;
  width: 80%;
  margin: 5px auto;
}
/* End Features */

/* Start Testimonails */
.testimonials{
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.testimonials h2{
  font-weight: bold;
  font-size: 22px;
  color: #FFF;
  text-align: left;
  margin:  10px 0 20px;
  position: relative;
  z-index: 3;
  
}
.testimonials::before{
content: '';
position: absolute;
width: 50%;
height: 100%;
top: 0;
left: 0;
background-color: var(--main-color);
}
.testimonials::after{
  content: '';
  position: absolute;
width: 50%;
height: 100%;
top: 0;
right: 0;
background-color: #333;
}
.testimonials .ts-content .ts-bx{
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 567px) {
  .testimonials .ts-content .ts-bx{
    width: 98%;
    margin-bottom: 25px;
  }
  .testimonials h2{
    text-align: center;
  }
}
.testimonials .ts-content .ts-bx:not(:last-of-type){
  margin-right: 1%;
}
.testimonials .ts-content .ts-bx > p{
  margin: 0 0 15px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-size: 15px;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-content .ts-bx .person-intro{
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-content .ts-bx .person-intro{
    text-align: center;
    overflow: visible;
  }
}
.testimonials .ts-content .ts-bx .person-intro img{
  float: left;
  border-radius: 50%;
  margin-right: 20px;
  max-width: 80px;
}
@media (max-width: 991px) {
  .testimonials .ts-content .ts-bx .person-intro img{
    float: none;
    text-align: center;
    margin-right: 0;
  }
}
.testimonials .ts-content .ts-bx .person-intro h4{
  margin: 25px 0px 3px 0px;
}

.testimonials .ts-content .ts-bx .person-intro p{
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* End Testimonails */

/* Start Contact Us */
.contact{
  min-height: 600px;
  background-image: url("../Images/world.svg");
  background-size: cover;
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(225, 255, 255, 0.4);
}
.contact .container{
  position: relative;
  z-index: 3;
}
.contact h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  margin:  0 0 60px;
}


.contact form .left{
  float: left;
  width: 49%;
}
.contact form .right{
  float: right;
  width: 49%;
}
@media (max-width: 567px) {
   .contact form {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
   }
  .contact form .left{
    float: none;
    width: 100%;
  }
    .contact form .right{
      float: none;
      width: 100%;
    }
}
.contact form input:not([type = 'submit']),
.contact form textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type = 'submit']):focus,
.contact form textarea:focus{
  outline: 2px solid var(--main-color);
}
.contact form input{
  height: 40px;
}
.contact form textarea{
  height: 141px;
}
.contact form input[type = 'submit']{
  width: 100%;
  padding: 10px;
  border-color: transparent;
  background-color: var(--main-color);
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type = 'submit']):focus::-webkit-input-placeholder{
  opacity: 0;
  transition: .4s;
}
/* End Contact Us */

/*Start grid system*/
@media (min-width: 576px) { /*Small Devices => phones / lanscape phones*/
  .container{
    max-width: 540px;
  }
}
@media (min-width: 768px) { /* Medium Devices => Tablets*/
  .container{
    max-width: 720px;
  }
}
@media (min-width: 992px) { /* Desktop */
  .container{
    max-width: 960px;
  }
}
@media (min-width: 1200px) { /* Large screens = > large desktops / cinematice */
  .container{
    max-width: 1140px;
  }
}
/*end Grid System */